[Unit]
Description=Odoo Open Source ERP and CRM

[Service]
EnvironmentFile=/etc/odoo/.env
Type=simple
PermissionsStartOnly=true
SyslogIdentifier=odoo-server
User=odoo
Group=odoo
ExecStart=python3 /var/opt/odoo/odoo-bin -r ${ODOO_DB_USER} -w ${ODOO_DB_PASSWORD} --config=/etc/odoo.conf --addons-path=/var/opt/odoo/addons/ -d ${ODOO_DB_NAME}
WorkingDirectory=/var/opt/odoo/
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target